:root{
    --primary-color: #70be47;
    --dark-color: #000000;
    --semi-dark: #333;
    --light-color: rgba(0,0,0,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
header{
    width: 100%;
    height: 90vh;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.801));
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
header video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.top-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0px 2px 40px 10px rgba(78, 78, 78, 0.349);
    z-index: 999;
}

.left-side h2{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transform: translateY(10%);
    color: var(--primary-color) !important;
}
.center-side{
    display: flex;
    gap: 1.5em;
}
.center-side a{
    text-decoration: none;
    color: var(--semi-dark);
    font-weight: 600;
}
.center-side a:hover{
    color: var(--dark-color);
    transition: all 0.2s
}

.showcase{
    text-align: center;
    margin-top: 50px;
    color: #ace98b;
    font-size: 18px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.showcase h1{
    font-family: "Oswald", sans-serif !important;
    font-size: 3em;
    color: white;
    margin-bottom: 15px;
    width: 60%;
    text-align: center;
}
.showcase p{
  width: 60%;
}
.filter-search{
    background-color: white;
    box-shadow: 0px 5px 50px 20px rgba(196, 196, 196, 0.349);
    width: 50%;
    margin: auto;
    transform: translateY(-40%);
    border-radius: 40px;
    z-index: 1;
}
.searchBtn{
    display: flex;
    justify-content: center;
}
.searchProp{
    color: white;
    text-align: center;
    border: none;
    outline: none;
    position: relative;
    border-radius: 8px;
    z-index: 1;
    background-color: transparent;
}
.searchProp:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 8px;
    background-color: var(--primary-color);
    transition: 0.2s linear;
}
.searchProp:hover{
    color: var(--dark-color);
}
.searchProp:hover::before{
    width: 0;
}

footer{
    background-color: #111;
    color: white;
    width: 100%;
    /* place-items: center !important; */
    justify-content: center !important;
    padding: 5% 10% 10px;
    margin: 0;
}
.footerNav{
    place-content: center;
    justify-content: space-between;
}
footer ul{
    padding: 0;
    list-style: none;
}
footer li{
    padding: 10px 0 !important;
}
footer a{
    text-decoration: none;
    color: white;
}

footer h1{
  overflow: hidden;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: grayscale(1);
    font-size: 12em;
    opacity: 0.3;
    margin-top: 20px;
    text-align: center;
}
footer i{
    margin-right: 10px;
}
.login{
    text-decoration: none;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}
.login::before{
    content: "";
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: var(--dark-color);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transition: 0.2s linear;
}
.login:hover{
    color: white !important;
    z-index: 1000000;
}
.login:hover::before{
    width: 100%;
}
.sign{
    text-decoration: none;
    /* background-color: var(--dark-color); */
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}
.sign::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--dark-color);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transition: 0.2s linear;
}
.sign:hover{
    color: var(--dark-color);
}
.sign:hover::before{
    width: 0;
}
.error-page{
    text-align: center;
}
.error-page h1{
    color: var(--primary-color);
    font-size: 4em;
    width: 50%;
    margin: auto;
}
  .imgSide{
    transform: translateX(30%);
    height: 500px;
    border-radius: 30px;
    background: url(./assets/loginPic.jpg) center center;
    background-size: cover;
  }
  .loginTitle{
    margin: 7% 0 !important;
  }
  .forBreadcumb{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    padding: 0 15px !important;
    margin-bottom: 0 !important;
  }
  .forBreadcumb nav{
    padding: 0 !important;
    margin: 0 !important;
    transform: translateY(20%);
  }
  .forBreadcumb nav li{
    color: #70be47 !important;
  }
  .forBreadcumb a{
    color: #2f7708;
    text-decoration: none;
  }
  .logo-login{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transform: translateY(10%);
    color: #70be47;
  }
  .center-login-side{
    display: flex;
    gap: 1.5em;
  }
  .center-login-side a{
    text-decoration: none;
    color: var(--semi-dark);
    font-weight: 600;
  }
  .center-login-side a:hover{
    color: var(--dark-color);
    transition: all 0.2s
  }
  .btn-login{
    background-color: #70be47 !important;
    transition: 0.2s ease;
  }
  .btn-login:hover{
    background-color: #1b4903;
  }
  .goApp{
    gap: 1em;
  }
  .goApp button{
    border: 1px solid grey;
    gap: 0.5em;
  }
  .loginWith{
    align-items: baseline !important;
  }
  .loginWith div:first-child{
    width: 100%;
    height: 2px;
    border: 1px solid grey;
  }
  .loginWith p{
    width: 100%;
    text-align: center;
  }
  .loginWith div:last-child{
    width: 100%;
    height: 2px;
    border: 1px solid grey;
  }
  .forgot{
    text-decoration: none;
    color: #333;
  }
  .top-text p{
    font-size: 13px;
  }
  #closeIcon{
    display: none;
  }
  #closeIcon2{
    display: none;
  }
  .props{
    padding: 0px 8%;
  }
  .propsprice{
    color: var(--primary-color);
  }
  .propsshow{
    border: ipx solid var(--primary-color);
    background-color: #e2fad5;
    padding: 8px 12px;
    color: var(--primary-color);
    border-radius: 10px;
  }
  .props img{
    height: 200px;
  }
  .propsbuy{
    border: 1px solid var(--semi-dark);
    padding: 10px;
    border-radius: 10px; 
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.propsbuy::before{
    content: "";
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: var(--dark-color);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    transition: 0.2s linear;
}
.propsbuy:hover{
    color: white !important;
    z-index: 1000000;
}
.propsbuy:hover::before{
    width: 100%;
}
.indexDropdown div p:hover, 
.indexDropdown div button:hover{
  background-color: #71be4763 !important;
}
@media screen and (max-width: 900px) {
  .imgSide{
    transform: translateX(0) !important;
    width: 100% !important;
    height: 500px;
  }
  header{
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .showcase{
    font-size: 16px;
  }
  .showcase h1{
      font-family: "Oswald", sans-serif !important;
      font-size: 2.4em;
      color: white;
      margin-bottom: 15px;
      width: 100%;
  }
  .showcase p{
    width: 100%;
  }
  .center-side, .center-login-side{
    position: absolute;
    display: block;
    padding: 30px;
    width: 50vw;
    height: 100vh;
    top: -15px;
    right: 0;
    background-color: white;
    box-shadow: 0px 5px 50px 20px rgba(196, 196, 196, 0.349);
    transform: translateX(150%);
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 99999999999;
  }
  .center-side a, .center-login-side a{
    display: block !important;
    padding: 10px 0;
  }
  .menu-side{
    display: block !important;
  }
  .right-side, .right-login-side{
    position: absolute;
    padding: 30px;
    width: 50%;
    height: 100vh;
    top: -15px;
    right: 0;
    transform: translateX(150%);
    opacity: 0;
    background-color: white;
    box-shadow: 0px 5px 50px 20px rgba(196, 196, 196, 0.349);
    transition: 0.3s ease-in-out;
    z-index: 9999999999;
  }
  .right-side a, .right-login-side a{
    display: block !important;
    margin-bottom: 10px;
  }
  .showMenu{
    display: block;
    transform: translateX(55%);
    opacity: 1;
  }
  .showAccout{
    display: block;
    transform: translateX(27%);
    opacity: 1;
  }
  #closeIcon{
    display: block;
  }
  #closeIcon2{
    display: block;
  }
  .filter-search{
    width: 75%;
  }
}
.postMore{
  left: 0;
  background-color: #0e0e0ece;
  color: #fff;
  bottom: 0;
  transform: translateY(100%);
}
.postDiv:hover .postMore{
  transform: translateY(0%);
  transition: 0.3s linear;
}
.viewPost{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #0e0e0ece;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  backdrop-filter: blur(2px);
  position: absolute;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.viewPost button{
  background-color: #2f7708;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
}
.imageDiv:hover .viewPost{
  width: 100%;
  height: 100%;
  scale: 1;
}
.footer-logo img{
  opacity: 0.3;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(5px); /* optional blur */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999; /* lower than .popOut but high enough */
}
.modalOverlayShow{
  display: flex;
}
.modalOverlayRemove{
  display: none;
}
.popOut {
  position: fixed; /* Required for top/left to work properly */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  background-color: white;
  width: 90vw;
  height: 90vh;
  z-index: 10000000000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.FormDiv{
  width: 100%;
  height: 100%;
}
.firstTop{
  padding: 2%;
  width: 100%;
  height: 80%;
}
.firstTopImg{
  width: 100%;
  height: 100%;
}
.firstTop img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.secondTop{
  background-color: #ace98b75;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.detailsRow{
  padding: 1% 2%;
}
.detailsRow > div{
  box-sizing: border-box;
  border: 1px solid #2f7708;
  border-radius: 50px;
}
.detailsRow > div:last-child{
  border: none;
}
.secondTop button{
  border: none;
  background-color: #2f7708;
  color: white;
  border-radius: 50px;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  z-index: 1000001;
}
.viewMore{
  border: none;
  background-color: #000000;
  width: 100%;
  border-radius: 50px;
  color: white;
  padding: 15px 40px;
}
